<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
            <!--nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Home</a></li>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="{% url 'djangoapp:about' %}">About Us</a>
            <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact</a>
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li>
                <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
                <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Username" name="username" >
                        <input type="password" class="form-control" placeholder="password" name="psw" >
                        <button class="btn btn-primary" type="submit">Login</button>
                        <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                    </div>
                </form>
            </li>
            {% endif %}
        </ul>
    </nav>
    <!--Add review form here -->
    <form action="{% url 'djangoapp:add_review' dealer.id %}" method="post">
        {% csrf_token %}
        <div class="container">
            <p></p>
            <div class="form-group">
                <h2>Add a review about <strong>{{ dealer }}</strong></h2>
                <p></p>
                <h6 class="text-dark"><strong>Enter the review content</strong></h6>
                <textarea class="form-control" id="content" name="content" rows="3" required placeholder="Please give us a feedback for {{ dealer }}"></textarea>
                <p></p>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
                <label class="form-check-label text-dark" for="purchasecheck">Have you purchased the car from {{ dealer }}?</label>
                <label class="form-check-label" for="purchasecheck">(select purchased car information below if checked)</label>
                <p></p>
            </div>

            <div class="form-group">
                <h6 class="text-dark"><strong>Select your car (model-make-year)</strong></h6>
                <select name="car" id="car" class="form-select" required>
                    {% for car in cars %}
                        <option selected value={{car.id}}> {{ car.name }} / {{ car.car_model }} / {{ car.car_year }}</option>
                    {% endfor %}
                </select>
                <p></p>
            </div>

            <div class="form-group" data-provide="datepicker">
                <label for="purchasedate">Select your purchase date (mm/dd/yyyy):</label>
                <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <script type="text/javascript">
            $('.date-own').datepicker({
               format: 'mm/dd/yyyy'
             });
       </script>

    </body>
</html>